<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/pnotify/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/components/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <title>PWDSafe</title>
  </head>
  <body>
        {% if loggedin %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">PWDSafe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
                        <div class="dropdown-menu" id="grouplist">
                            <a class="dropdown-item" href="/groups/create">Create group</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/securitycheck">Security check</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form class="d-inline" id="searchform">
                            <div class="input-group">
                                <input type="text" class="form-control border border-right-0" name="search" placeholder="Search...">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary border border-left-0" type="submit" id="searchbtn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="far fa-user"></span> {{ loggedin_email }} <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if loggedin_ldap == false %}
                            <a class="dropdown-item" href="/changepwd">Change password</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
        {% block content %}{% endblock %}
    <script type="text/javascript" src="/components/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/components/popper.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/clipboard.js/clipboard.min.js"></script>
    <script type="text/javascript" src="/components/pnotify/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="/components/jquery.popconfirm.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        PNotify.prototype.options.styling = "bootstrap3";
        $('#searchform').submit(function(event) {
            event.preventDefault();
            var searchstring = $('input[name="search"]').val().trim();
            if (searchstring.length !== 0) {
                window.location.href = "/search/" + searchstring;
            }
        });
    });
    </script>
    <script src="/pwdsafe.js"></script>
  </body>
</html>
