{% extends "base.html" %} 
{% block content %}
<div class="container">
        {% if primary != groupid %}
        <div class="clearfix">
                <div class="float-left" style="margin-bottom: 20px">
                        <h3>{{ groupname }}</h3>
                </div>
                <div class="btn-group float-right">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" id="changeGroupName">Change name</a>
                                        <a class="dropdown-item" href="/groups/{{ groupid }}/share">Share</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/groups/{{ groupid }}/delete"><i class="far fa-trash-alt"></i> Delete</a>
                                </div>
                        </div>
                </div>
        </div>
        {% include "group/modalChangeGroupName.html" %}
        {% endif %}
        {% if data|length > 0 %}
        <table class="table table-bordered">
                <thead>
                        <th>Site</th>
                        <th>Username</th>
                        <th>Password</th>
                </thead>
                <tbody>
                        {% for row in data %}
                                <tr>
                                        <td>{{ row.site|raw }}</td>
                                        <td>{{ row.username }}</td>
                                        <td style="white-space: nowrap; width: 1px;">
                                                <button class="btn btn-primary showPass" data-id="{{ row.id }}">
                                                        <i class="d-sm-none far fa-eye"></i>
                                                        <span class="d-none d-sm-inline">Show</span>
                                                </button>
                                                <button class="btn btn-secondary copypwd" data-id="{{ row.id }}">
                                                        <i class="d-sm-none far fa-copy"></i>
                                                        <span class="d-none d-sm-inline">Copy to clipboard</span>
                                                </button>
                                                <button class="btn btn-danger popconfirm credDelete" data-id="{{ row.id }}">
                                                        <i class="d-sm-none far fa-trash-alt"></i>
                                                        <span class="d-none d-sm-inline">Delete</span>
                                                </button>
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
                <strong>No credentials!</strong> You can add some below if you'd like.
        </div>
        {% endif %}
        <input type="hidden" id="currentgroupid" value="{{ groupid }}">
        <button id="addCred" class="btn btn-primary">Add credentials</button>
        {% include "modaladdCred.html" %}
        {% include "modalshowCred.html" %}
</div>
{% endblock %}
