{% extends "base.html" %} 
{% block content %}
<div class="container">
        {% if primary != groupid %}
        <div class="clearfix">
                <div class="pull-left">
                        <h3>{{ groupname }}</h3>
                </div>
                <div class="btn-group pull-right" style="margin-bottom: 20px">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                                <li><a href="#" id="changeGroupName">Change name</a></li>
                                <li><a href="/groups/{{ groupid }}/share">Share</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/groups/{{ groupid }}/delete"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                        </ul>
                </div>
        </div>
        {% include "group/modalChangeGroupName.html" %}
        {% endif %}
        {% if data|length > 0 %}
        <table class="table table-bordered">
                <thead>
                        <th>Site</th>
                        <th>Username</th>
                        <th>Password</th>
                </thead>
                <tbody>
                        {% for row in data %}
                                <tr>
                                        <td>{{ row.site }}</td>
                                        <td>{{ row.username }}</td>
                                        <td style="white-space: nowrap; width: 1px;">
                                                <button class="btn btn-primary showPass" data-id="{{ row.id }}">
                                                        <span class="visible-xs glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                        <span class="hidden-xs">Show</span>
                                                </button>
                                                <button class="btn btn-default copypwd" data-id="{{ row.id }}">
                                                        <span class="visible-xs glyphicon glyphicon-copy" aria-hidden="true"></span>
                                                        <span class="hidden-xs">Copy to clipboard</span>
                                                </button>
                                                <button class="btn btn-danger popconfirm credDelete" data-id="{{ row.id }}">
                                                        <span class="visible-xs glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        <span class="hidden-xs">Delete</span>
                                                </button>
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
                <strong>No credentials!</strong> You can add some below if you'd like.
        </div>
        {% endif %}
        <input type="hidden" id="currentgroupid" value="{{ groupid }}">
        <a id="addCred" class="btn btn-primary">Add credentials</a>
        {% include "modaladdCred.html" %}
        {% include "modalshowCred.html" %}
</div>
{% endblock %}
