<div class="modal fade" id="addCredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add credentials</h4>
      </div>
      <div class="modal-body">
        <label for="site">Site</label>
        <input type="text" name="site" id="site" class="form-control">
        <label for="user">Username</label>
        <input type="text" name="user" id="user" class="form-control">
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveCred">Save changes</button>
      </div>
    </div>
  </div>
</div>
