<div class="modal fade" id="showCredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Show credentials</h4>
      </div>
      <div class="modal-body">
        <label for="s_site">Site</label>
        <input type="text" name="s_site" id="s_site" class="form-control">
        <label for="s_user">Username</label>
        <input type="text" name="s_user" id="s_user" class="form-control">
        <label for="s_pass">Password</label>
        <input type="text" name="s_pass" id="s_pass" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="deleteCred" data-id="">Delete credential</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
