{% extends "base.html" %} 
{% block content %}
<div class="container">
    <div class="clearfix">
        <div class="float-left" style="margin-bottom: 20px">
            <h3>Search</h3>
        </div>
    </div>
    {% if data|length > 0 %}
    <div class="card-columns">
        {% for row in data %}
                {% include "credential-card.html" %}
        {% endfor %}
        </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <strong>No credentials found!</strong> Try searching for something else.
    </div>
    {% endif %}
    {% include "modalshowCred.html" %}
</div>
{% endblock %}
